@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root { color-scheme: dark; }
  html { -webkit-font-smoothing: antialiased; }
  body { background-color: #050a14; color: #ffffff; }
}
